.main-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0 0px 40px 0;
}

.slider{
    display: inline-flex;
    margin: 0px auto 50px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-card{
    display: flex;
    text-align: center;
    background-color: var(--header-black);
    flex: 0 0 100%;
}

.slider-card:nth-child(odd){
    animation: sliderMovement1 15s linear 0s infinite;
}
/*Se añade un delay para que no aparezcan al mismo tiempo*/
.slider-card:nth-child(even){
    animation: sliderMovement2 15s linear 7.5s infinite;
}

/*Cuando pasemos el ratón por encima, el slider se pausará*/
.slider:hover .slider-card{
    animation-play-state: paused;
}

.slider-card > img{
    /* Se hace uso de flex:auto para que la imagen se ajuste al tamaño del contenedor */
    flex: auto;
    width: 30%;
    /* En este proyecto se ha decidido utilizar de forma generalizada object-fit para que la imagen nunca se deforme */
    object-fit: cover;
}

.slider-card #txt-container{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--header-white);
    width: 60%;
}

.slider-card #txt-container h1{
    color:var(--header-orange);
}
.subtitulo{
    margin: 20px 0;
    color: #6c6969;
    font-weight: bolder;
}
section .subtitulo{
    color: black;
    margin: 20px 0 10px 0;
}
.descripcion{
    font-size: 0.8rem;
    margin: 20px 0;
}

.slider-arrows{
    position: absolute;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider-arrows img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 10px;
}

#main-info{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
#main-info section{
    width: 45%;
}
#main-info section .btnNegro{
    justify-self: right;
}
.imgContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
 .imgContainer .imgSearch{
    width: 32%;
    height: 100%;
} 

.btnNegro{
    gap: 4px;
}

/* Tablet */
@media (max-width: 1500px) {
    
    main #main-info{
        flex-direction: column;
        gap: 20px;  
    }
    main #main-info section{
        border: 2px solid black;
        padding: 15px;
    }
    #main-info section{
        width: 100%;
    }
    .imgContainer{
        width: 100%;
        height: 300px;
    }
}

/* Móvil */
@media (max-width: 800px) {
}